## Variables

Variables are like pockets on which you can store values:

For example,

In [2]:
x = 5
y = 'Harsh'
z = 1.5
t = True

Here, you can see x has a value of 5.

So, if you print x+10, it should give a result of 15

In [3]:
print(x+10)

15

In [4]:
print(x,y,z,t)

5 Harsh 1.5 True

## Basic operations on Variables

There are these kind of data types:
    - int   (for example x = 5)
    - float (for example x = 5.5)
    - str   (for example x = 'Harsh'  Here letters have to be written like 'Harsh Raman' or "Harsh Raman")
    - bool  (for example x = True or x = False)
    
N.B. There are others as well but for now we can work on these.

### int

int are numbers without decimal values, i.e. Integers -5, 0, 450

#### You can add, subtract, multiply, divide on integer

In [5]:
x = 4
y = 2 + x
z = x * 4
print('z = x * 4  =',z)
z = z * y
print('z = z * y =', z)
print('z =', z)

z = x * 4  = 16
z = z * y = 96
z = 96

In [6]:
# Quotient division
print('z//5 = ', z//5)

z//5 =  19

In [7]:
# Remainder Division
print('z%5', z%5)

z%5 1

In [8]:
# Full division
print('z/5', z/5)

z/5 19.2

### float

You can use all operation used in _int_ with float.

In [9]:
x = 2.2

In [10]:
print(x//2.1)

1.0

In [11]:
print(x/2.1)

1.0476190476190477

In [12]:
print(x%2.1)

0.10000000000000009

In [13]:
print(1 * 2.1 +  0.10000000000000009)

2.2

### str 
which means it's a string or a set of letters

In [14]:
x = "harsh"
print(x)

harsh

In [15]:
print(x + 'Raman')
print(x + ' Raman')

harshRaman
harsh Raman

In [16]:
print(x*2)

harshharsh

We can also add numbers(float or int) to letters but then this has to be converted from numbers to string,
i.e. from 2 it should become '2'

In [18]:
print('harsh' + 2) #this will give an error

TypeError: can only concatenate str (not "int") to str

In [ ]:
print('harsh' + str(2)) # so we have to convert 2 to '2'

In [ ]:
print(int('2')*2) # similarly you can also convert '2' to 2

### bool

To understand bool we have to first understand _relational operators_

Suppose

 x = 5
 and
 y = 5

 What if we need to check wether x is equal to y or not?

 We can do that using relational operators
 - == equals
 - != not equals
 - < strictly less than
 - <= less than or equals
 - \> strictly greater than
 - \>= greater than or equal

In [ ]:
x = 5
y = 5
print('x == y', x == y)
print('x != y', x != y)
print('x < y', x < y)
print('x <= y', x <= y)
print('x > y', x > y)
print('x >= y', x >= y)

> We can also save these values in variables

In [ ]:
z = x == 5
print(z)

##### We can also check two or more conditions together
using:
- and
- or
- not

In [ ]:
print(5==5 and 4==4)

In [19]:
print(5 == 5 or 5 == 4)

True

In [20]:
print(5 == 4 and 5 == 5)

False

In [21]:
print(not 5 == 5)

False

In [22]:
print( True and True)

True

In [23]:
print(True and False)

False

In [24]:
print(True or 5 == 4)

True

## Lists

> Lists are a collection of values arranged in an order

In [25]:
x = [4, 4, 2, 'Harsh', True]
print(x)

[4, 4, 2, 'Harsh', True]

Numbering starts with 0 so if you have to get first value, that will be x[0]

In [26]:
print(x[0])

4

In [27]:
print(x[-2])

Harsh

In [28]:
print(x[3])

Harsh

In [29]:
print(x[5]) # this will give an error as there is no 6th position

IndexError: list index out of range

In [30]:
print(x[-6]) # this will also give an error

IndexError: list index out of range

# Ways to take an input
We can take inputs from user between are program

In [31]:
x = input() #this take all inputs as string
print(x+2)

1

TypeError: can only concatenate str (not "int") to str

In [33]:
x = int(input()) #We can convert our input to int
print(x+2)

1
3

Suppose we have to take list of integers as input from one line

In [34]:
x = input()
print(x)

1
1

This is a string so we have to convert this string into a list using
- split()

In [35]:
x = input()
x = x.split(' ') # split the string on the basis of spaces i.e. ' '
print(x)

1 2 3 4
['1', '2', '3', '4']

But they all are strings so we have to convert them into numbers:
    - using list comprehension
    - using map function

We will study about them in detail in upcoming sessions

In [36]:
# List comprehension
x = [int(i) for i in input().split(' ')]
print(x)

1 2 3 4
[1, 2, 3, 4]

In [37]:
#map function
x = map(int, input().split(' '))
print(x)

1 2 3 4
<map object at 0x00000205A4DA9760>

In [38]:
# We have to convert this map object into list
# Don't worry on if you don't understand what are these - will be covered in upcoming sessions
# For now, you can mug it up
x = list(map(int, input().split(' ')))
print(x)

1 2 3 4
[1, 2, 3, 4]

## List Filter Intro

In [39]:
#We can also filter out values in filter
x = filter(lambda i: i > 2, x)

In [40]:
list(x)

[3, 4]

In [41]:
print(x)

<filter object at 0x00000205A4DC3820>